<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs'); %>
  </head>
  <body>
    <% if (url === "/") { %>
      <%- include('./partials/index.ejs', { problems }); %>
    <% } %>

    <% if (url === "/login") { %>
      <%- include('./partials/login.ejs'); %>
    <% } %>

    <% if (url.includes("/problems")) { %>
      <% if (!result) { %>
        <%- include('./partials/problem.ejs', { problem }); %>
      <% } %>

      <% if (result === "success") { %>
        <%- include('./partials/success.ejs'); %>
      <% } %>

      <% if (result === "failure") { %>
        <%- include('./partials/failure.ejs', { failureMessage, problemId }); %>
      <% } %>
    <% } %>
  </body>
</html>
